@import url('https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    background: #fff;
    color: #222;
    font-family: Literata, Georgia, serif;
    line-height: 1.5;
}

body {
    margin: auto;
    max-width: 66ch;
    padding: 1rem;
}

main {
    min-height: 500px;
}

footer {
    color: #444;
    font-size: 90%;
}

h1 {
    font-weight: 400;
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 120%;
    }
}

@media screen and (min-width: 1500px) {
    html {
        font-size: 130%;
    }
}